.playerBoardPanel {
    -fx-background-image: url("../imgs/bkgs/bkg_board.png");
    -fx-background-size: stretch;
}

.strongboxLabel {
    -fx-background-color: rgb(175,162,99);
}

.resToPlaceLabel {
    -fx-background-color: rgb(223,223,202);
}

.opponentButton {
    -fx-background-image: url("../imgs/icon_opponents.png");
    -fx-background-size: stretch;
}

.saveButton {
    -fx-background-image: url("../imgs/icon_save.png");
    -fx-background-size: stretch;
}

@font-face {
    src: url("../font/pristina.ttf");
}

.label {
    -fx-font-family: "Pristina";
}

.button {
    -fx-font-family: "Pristina";
    -fx-font-size: 18px;
}